<section class="footer">
    <div class="container footer_container">
        <div class="footer_content">
            <p>Адрес ГБУЗ МО КГБ №2</p>
            <p class="no-padding">Российская Федерация, Московская область, 143400, г.Красногорск, Ильинское  шоссе, военный городок «Павшино», дом 2, корпус В</p>
            <p>Колл-центр 8 (495) 150-20-14</p>
            <p class="no-padding">Регистратура детской поликлиники работает с 7.30 до 19.00. Телефон - 8 (495) 562-90-28 , 8 (495) 561-00-45</p>
            <p>Регистратура взрослой поликлиники работает с 7.30 до 20.00. Телефон - 8 (495) 562-90-64, 8 (495) 561-00-36</p>
            <p>Возглавляет больницу Главный врач - Винокуров Владимир Геннадьевич</p>
        </div>
    </div>
</section>
