<div class="">
    {{ image('theme::img/photo_2019-07-04_00-03-06.jpg').class('logo')|raw }}
</div>
<div class="address_section">
    <div class="address_title logo_sect_title">
        Наш адресс:
    </div>
    <div class="adress_desc">
        г. Москва, <br />
        Ломоносовский пр-т, 43
    </div>
    <div class="address_link">
        Контакты и карта
    </div>
</div>
<div class="phone_section">
    <div class="phone_title logo_sect_title">
        <div class="phone_title_swap">
            <div>Телефон&nbsp;</div>
            <div>регистратуры:</div>
        </div>
    </div>
    <div class="phone_desc">
        <div class="phone_container">
            <div class="phone_first">
                (499)
            </div>
            <div class="phone_second">
                777-77-88
            </div>
        </div>
        <div class="phone_link">
            Заказать обратный звонок
        </div>
    </div>
</div>
