<nav class="navbar  navbar-expand-lg ">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
            aria-expanded="false" aria-label="Toggle navigation"
            style="background-color:#fff;"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nav-flex" id="navbarTogglerDemo03">
        <div class="navbar-nav">
            {# Главное #}
            <div class="nav-item dropdown menu_elem">
                <a class="dropdown-toggle" href="#" id="mainTabDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Главное
                </a>
                <div class="dropdown-menu" aria-labelledby="mainTabDropdown">
                    <a class="dropdown-item" href="#">Должностные лица</a>
                    <a class="dropdown-item" href="#">Страница главного врача</a>
                    <a class="dropdown-item" href="#">Обслуживаемые участки</a>
                    <a class="dropdown-item" href="#">Единый центр телефонных звонков</a>
                    <a class="dropdown-item" href="#">Лицензии</a>
                    <a class="dropdown-item" href="#">Электронная регистратура</a>
                    <a class="dropdown-item" href="#">Управление здравоохранения</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Пепечень препаратов</a>
                </div>
            </div>
            {# /Главное #}

            {# Детское подразделение #}
            <div class="nav-item dropdown menu_elem">
                <a class="dropdown-toggle" href="#" id="divisionsYoungTabDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Детское подразделение
                </a>
                <div class="dropdown-menu" aria-labelledby="divisionsYoungTabDropdown">
                    <a class="dropdown-item" href="#">Детская поликлиника 1</a>
                    <a class="dropdown-item" href="#">Детская поликлиника 2</a>
                    <a class="dropdown-item" href="#">Детская поликлиника 3</a>
                    <a class="dropdown-item" href="#">Детское инфекционное отделение</a>
                    <a class="dropdown-item" href="#">Молочная кухня</a>
                    <a class="dropdown-item" href="#">Нахабино</a>
                    <a class="dropdown-item" href="#">Опалиха</a>
                </div>
            </div>
            {# /Детское подразделение #}

            {# Взрослое подразделение #}
            <div class="nav-item dropdown menu_elem">
                <a class="dropdown-toggle" href="#" id="divisionsOldTabDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Взрослое подразделение
                </a>
                <div class="dropdown-menu" aria-labelledby="divisionsOldTabDropdown">
                    <a class="dropdown-item" href="#">Взрослая поликлиника 2</a>
                    <a class="dropdown-item" href="#">Взрослая поликлиника 3</a>
                    <a class="dropdown-item" href="#">Нахабино</a>
                    <a class="dropdown-item" href="#">Опалиха</a>
                </div>
            </div>
            {# /Взрослое подразделение #}

            {# Амбулатории и ФАП #}
            <div class="nav-item dropdown menu_elem">
                <a class="dropdown-toggle" href="#" id="fapTabDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Амбулатории и ФАП
                </a>
                <div class="dropdown-menu" aria-labelledby="fapTabDropdown">
                    <a class="dropdown-item" href="#">Архангельская абмулатория</a>
                    <a class="dropdown-item" href="#">Путилковая абмулатория</a>
                    <a class="dropdown-item" href="#">Путиловская абмулатория</a>
                </div>
            </div>
            {# /Амбулатории и ФАП #}

            {# Оставить обращение #}
            <div class="nav-item menu_elem">
                <a class="" href="#">Оставить обращение</a>
            </div>
            {# /Оставить обращение #}

            {# Маршрутизация #}
            <div class="nav-item dropdown menu_elem">
                <a class="dropdown-toggle" href="#" id="routingTabDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Маршрутизация
                </a>
                <div class="dropdown-menu" aria-labelledby="routingTabDropdown">
                    <a class="dropdown-item" href="#">Путилковая абмулатория</a>
                    <a class="dropdown-item" href="#">Архангельская абмулатория</a>
                    <a class="dropdown-item" href="#">Взрослая поликлиника 2</a>
                </div>
            </div>
            {# /Маршрутизация #}

            {# *** #}
            <div class="nav-item dropdown menu_elem">
                <a class="dropdown-toggle" href="#" id="labDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Клинико-диагностическая лаборатория
                </a>
                <div class="dropdown-menu" aria-labelledby="labDropdown">
                    <a class="dropdown-item" href="#">Клинико-диагностическая лаборатория</a>
                    <a class="dropdown-item" href="#">Оборудование клинико-диагностической лаборатории</a>
                    <a class="dropdown-item" href="#">Подготовка пациента к исследваниям</a>
                    <a class="dropdown-item" href="#">Календарь профилактически исследований для разных возрасных групп</a>
                </div>
            </div>
            {# *** #}

            {# *** #}
            <div class="nav-item dropdown menu_elem">
                <a class="dropdown-toggle" href="#" id="physTerDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Физиотерапевтическое отделение
                </a>
                <div class="dropdown-menu" aria-labelledby="physTerDropdown">
                    <a class="dropdown-item" href="#">Физиотерапевтическое отделение</a>
                    <a class="dropdown-item" href="#">Дозированное вытяжение позвоночника</a>
                    <a class="dropdown-item" href="#">Жемчужные ванны</a>
                    <a class="dropdown-item" href="#">Лимфодренаж</a>
                    <a class="dropdown-item" href="#">Подводный душ-массаж</a>
                    <a class="dropdown-item" href="#">Циркулярный душ / Душ Шарко</a>
                    <a class="dropdown-item" href="#">Галоингаляции</a>
                </div>
            </div>
            {# *** #}

            <div class="search_form nav-item menu_elem_search">
                <form class="form-inline my-2 my-lg-0 search-form" id="typeahead_search" method="get" action="/search">
                    <input class="form-control mr-sm-2" type="search" name="query" placeholder="Поиск" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Искать</button>
                </form>
            </div>

        </div>
    </div>
</nav>
