<nav class="navbar  navbar-expand-lg ">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
            aria-expanded="false" aria-label="Toggle navigation"
            style="background-color:#fff;"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nav-flex" id="navbarTogglerDemo03">
        {{
        menu('meds_menu')
        .list_class('navbar-nav')
        .link_class('dropdown-toggle')
        .item_class('nav-item menu_elem')
        .link_attributes_dropdown({'class': 'dropdown-menu', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'})
        .child_list_attributes({'aria-labelledby': 'testIdLink'})
        .child_list_class('dropdown-menu')
        .render()|raw }}
    </div>
</nav>
