<div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
    <div class="list-group">
        {# *** #}
        <div class="list-group-item dropdown">
            <a class="dropdown-toggle" href="#" id="labDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Клинико-диагностическая лаборатория
            </a>
            <div class="dropdown-menu" aria-labelledby="labDropdown">
                <a class="dropdown-item" href="#">Клинико-диагностическая лаборатория</a>
                <a class="dropdown-item" href="#">Оборудование клинико-диагностической лаборатории</a>
                <a class="dropdown-item" href="#">Подготовка пациента к исследваниям</a>
                <a class="dropdown-item" href="#">Календарь профилактически исследований для разных возрасных групп</a>
            </div>
        </div>
        {# *** #}

        {# *** #}
        <div class="list-group-item dropdown">
            <a class="dropdown-toggle" href="#" id="physTerDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Физиотерапевтическое отделение
            </a>
            <div class="dropdown-menu" aria-labelledby="physTerDropdown">
                <a class="dropdown-item" href="#">Физиотерапевтическое отделение</a>
                <a class="dropdown-item" href="#">Дозированное вытяжение позвоночника</a>
                <a class="dropdown-item" href="#">Жемчужные ванны</a>
                <a class="dropdown-item" href="#">Лимфодренаж</a>
                <a class="dropdown-item" href="#">Подводный душ-массаж</a>
                <a class="dropdown-item" href="#">Циркулярный душ / Душ Шарко</a>
                <a class="dropdown-item" href="#">Галоингаляции</a>
            </div>
        </div>
        {# *** #}

        {# *** #}
        <a class="list-group-item" href="#">
            Центр здоровья
        </a>
        {# *** #}

        {# *** #}
        <a class="list-group-item" href="#">
            Новости
        </a>
        {# *** #}
    </div>
</div><!--/span-->
